*
  margin: 0
  padding: 0
  box-sizing: border-box

// header

.title
  display: flex
  justify-content: space-between
  width: 1200px
  margin: 0 auto

.menu
  display: flex
  justify-content: center

  button
    width: 400px

.search
  display: flex
  justify-content: center
  margin-top: 5px

  input
    height: 25px

  button
    margin-left: 5px

.result
  display: flex
  justify-content: center
  margin-top: 5px

.musics
  display: flex
  flex-wrap: wrap
  width: 1200px
  margin: 0 auto
  justify-content: center

.card
  width: 180px
  height: 310px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin-left: 5px
  margin-top: 5px
  background-color: lightgrey
  border-radius: 15px

  img
    width: 160px

  p
    width: 160px
    text-align: center
    margin-top: 5px



