@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #FAFAFA;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0 25px;
  margin: 0 auto;
  background-color: #023031;
}

.title img {
  width: 90px;
  margin-top: -23px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: white;
  padding: 0 17px;
  border-radius: 50px;
  font-family: 'Epilogue';
}

.user img {
  width: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 10px;
  margin-bottom: -20px;
}

.loading {
  height: 40px;
  background-color: white;
  padding: 0 30px;
  border-radius: 50px;
  font-family: 'Epilogue';
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu a {
  width: 100%;
}

.menu a button {
  width: 100%;
  height: 35px;
  border: none;
  cursor: pointer;
  background-color: #F0F2F5;
  font-size: 18px;
  font-family: 'Epilogue';
}

.botao {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 4px solid #56bf9a;
  width: 100%;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

.search input {
  height: 25px;
}

.search button {
  margin-left: 5px;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

.musics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  width: 180px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5px;
  margin-top: 5px;
  background-color: lightgrey;
  border-radius: 15px;
}

.card img {
  width: 160px;
}

.card p {
  width: 160px;
  text-align: center;
  margin-top: 5px;
}

.page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -90px;
}

.login {
  margin-top: 40px;
  background-color: white;
  height: 314px;
  width: 697px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form input {
  width: 519px;
  border: 1px solid #e1e5eb;
  height: 45px;
  margin-bottom: 12px;
  border-radius: 3px;
  padding: 0 10px;
}

.form button {
  background: #56bf9a;
  border: none;
  height: 45px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.form button:disabled {
  cursor: default;
  background: #7d8a85;
  color: #d1d4d3;
}
/*# sourceMappingURL=app.css.map */